body {
    background-color: #eee;;
}

.grid {
    display: grid;
    grid-template-columns: auto 435px 125px;
    grid-template-areas: "image details sidebar";
}

.product-image {
    background-color: red;
    grid-area: image;
}

.product-details {
    background-color: green;
    grid-area: details;
}

.sidebar {
    background-color: pink;
    grid-area: sidebar;
}