body {
    background-color: #eee;;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "image details sidebar";
}

.product-image {    
    grid-area: image;
}

.product-details {
    background-color: green;
    grid-area: details;
}

.sidebar {
    background-color: pink;
    grid-area: sidebar;
}