/* TODO: convert to sass */

body {
    font-family: 'Roboto', sans-serif;
    padding: 3em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-areas: "image details sidebar";
    grid-gap: 4rem;
}

.product-image {
    grid-area: image;    
}

.product-image img {    
    max-width: 100%;
}

.product-details .category {
    color: #ff0000;
    border: 1px solid #ff0000;
    font-size: 0.8rem;
    padding: 5px 10px;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
}

.product-details {
    grid-area: details;
}

.product-details .title h1 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1;
    margin: 30px 0 10px;
}

.product-details .price {
    margin: 25px 0;
    font-weight: 700;
}

.product-details .description p {
    color: #666;
    line-height: 1.5;
}

.product-details .sizes {
    display: flex;
    align-items: center;         
    font-size: .9rem;    
    text-transform: uppercase;
}

.product-details .sizes .size-item {
    font-size: 0.7rem;    
    font-weight: 900;
    display: inline-block;
    border: 2px solid #bbb;
    width: 15px;
    height: 15px;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;
}

.product-details .sizes .size-item.active {
    border-color: #ff0000;
    color: #ff0000;
}

.product-details .btn-cart { 
    display: inline-block;          
    padding:10px 15px;
    background: #ff0000;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 40px;
    cursor: pointer;
}

.product-details .price-cart .cart {
    font-size: 1rem;
}

.sidebar {
    grid-area: sidebar;
}