/* TODO: convert to sass */

body {
    font-family: 'Roboto', sans-serif;
    padding: 3em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-image {
    grid-area: image;    
}

.product-details {
    grid-area: details;
    align-self: center;   
}

.sidebar {
    grid-area: sidebar;
    align-self: flex-end;        
}

/* grid - mobile */
.wrapper {
    display: grid;    
    grid-template-areas:
    "image"
    "sidebar"
    "details";
    grid-template-rows: auto;    
}

.thumbs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 1rem;
}

.product-image img {    
    max-width: 100%;
}

.product-details .category {
    color: #ff0000;
    border: 1px solid #ff0000;
    font-size: 0.8rem;
    padding: 5px 10px;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    display: none;
}

.product-details .title h1 {
    font-size: 2rem;
    font-weight: 900;
    line-height: 1;
    margin: 30px 0 10px;
}

.product-details .price {
    margin: 25px 0;
    font-weight: 700;
}

.product-details .description p {
    color: #666;
    line-height: 1.5;
}

.product-details .sizes {
    display: flex;
    align-items: center;         
    font-size: .9rem;    
    text-transform: uppercase;
}

.product-details .sizes .size-item {
    font-size: 0.7rem;    
    font-weight: 900;
    display: inline-block;
    border: 2px solid #bbb;
    width: 15px;
    height: 15px;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;
}

.product-details .sizes .size-item.active {
    border-color: #ff0000;
    color: #ff0000;
}

.product-details .btn-cart { 
    display: inline-block;          
    padding:10px 15px;
    background: #ff0000;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 40px;
    cursor: pointer;
}

.product-details .price-cart .cart {
    font-size: 1rem;
}


/* tablet */
@media only screen and (min-width: 720px) and (max-width: 980px) {
    .wrapper {
        display: grid;
        grid-template-columns: 50% 2rem 1fr;        
        grid-template-areas: 
        "image . details"
        "sidebar sidebar .";
        grid-template-rows: auto;
    }

    .product-details .category {
        display: unset;
    }

    .thumbs {
        grid-template-columns: repeat(4, 66px);              
        grid-column-gap: 0.5rem;
        margin-top: 1rem;
    }
} 

/* desktop */
@media only screen and (min-width: 980px) {
    .wrapper {
        display: grid;
        width: 80%;        
        grid-template-columns: 500px 2rem 40% 2rem 66px;
        grid-template-rows: auto;
        grid-template-areas: "image . details . sidebar";
        margin: auto;      
    }

    .product-details .category {
        display: unset;
    }    

    .thumbs {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 1rem;       
    }

    .product-details .title h1 {
        font-size: 3rem;
    }
}